!!!
%html{:lang => "en"}
  %head
    %link{:rel => "stylesheet", :href => "simon.css"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
      = "Simple Monitor - #{config['name']} status"
  %body
    - config['sources'].each do |source|
      %h1
        = source['url']
