!!!
%html{:lang => "en"}
  %head
    %script{type: "text/javascript", src: "jquery-3.1.1.slim.min.js"}
    %script{type: "text/javascript", src: "simon.js"}
    %link{:rel => "stylesheet", :href => "simon.css"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
      = "Simple Monitor - #{config['name']} status"
  %body
    - config['sources'].each do |source|
      %div.container
        %h1.source
          = source['label']
