!!!
%html{:lang => "en"}
  %head
    %link{:rel => "stylesheet", :href => "simon.css"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
      = "Simple Monitor - #{config_name} status"
  %body
    - sources.each do |s|
      %h1
        = s
