body {
    background-color: black;
}

h1 {
    color: white;
    font-family: Helvetica;
}

.container {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    border: 6px solid white;
    margin-top: 20px;
}