body {
    min-height: 100%;
    background-color: black;
}

.source {
    color: white;
    font-family: Helvetica;
}

.container {
    width: 90%;
    height: 46vh;
    margin: 20px auto 0;
    border: 6px solid white;
}